.specialProjectContainer {
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;

}

.projectSection {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff; 
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}

.projectSection h2, .projectSection h4 {
  color: #333; 
  margin-top: 0;
}

.projectSection p, .projectSection li {
  color: #666; 
  line-height: 1.6; 
}

.projectSection a {
  color: #313131;
  text-decoration: none;
}

.projectSection a:hover {
  text-decoration: underline; 
}

iframe {
  margin-top: 10px;
  border-radius: 8px; 
  width: 100%; 
  max-width: 560px; 
  height: 315px; 
}

img {
  border-radius: 8px; 
}

ul, ol {
  padding-left: 20px; 
}

.alignLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.alignRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}